.home{
    width: 100vw;
}

.heading{
    position: relative;
    left: 46%;
    border-bottom: 1px solid black;
    width: 180px;
}

.selection{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selection  li{
    float: left;
}

.middle{
    margin-left: 100px;
    margin-right: 100px;
}

.selection li p{
    position: relative;
    left: 33%;
    font-size: 1.3em;
}

.recipe{
    width: 100vw;
    background-color: #101820;
}

.header-image{
    position: relative;
    left: 40%;
    border-radius: 10px;
}

.instructions{
    width: 300px;
    margin-left: 60px;
    background-color: #fee715;
}

.ingredients{
    background-color: #fee715;
}

.ingredients, .instructions{
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 10px;
}

.recipe-body{
    display: flex;
    justify-content: center;
}

.recipe a{
    position: relative;
    left: 25px;
}

.recipe a button{
    width: 100px;
    border: none;
    background-color: #fee715;
    border-radius: 20px;
}

.selection img{
 border: 4px red solid;
}

.selection img:hover{
    border: 4px green solid;
}