.home{
    width: 100vw;
}

.heading{
    position: relative;
    left: 46%;
    border-bottom: 1px solid black;
    width: 180px;
}

.selection{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selection  li{
    float: left;
}

.middle{
    margin-left: 100px;
    margin-right: 100px;
}

.selection li p{
    position: relative;
    left: 33%;
    font-size: 1.3em;
}

.recipe{
    width: 100vw;
}

.header-image{
    position: relative;
    left: 40%;
}

.instructions{
    width: 300px;
    margin-left: 60px;
}

.recipe-body{
    display: flex;
    justify-content: center;
}

.recipe a{
    position: relative;
    left: 35%;
    top: -300px;
}

.selection img{
 border: 4px red solid;
}

.selection img:hover{
    border: 4px green solid;
}